In [38]:
import pandas as pd 
import numpy as np

#Load Data
"reading csv FIle"

In [39]:
df=pd.read_csv('../data/raw/iris.csv')
df.head()

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

##inspecting data

In [ ]:
print(f"Shape: {df.shape}\nData types:\n{df.dtypes}\nDummary Stats:\n{df.describe}\nMissing values:\n{df.isnull().sum()}")

Shape: (150, 5)
Data types:
sepal.length    float64
sepal.width     float64
petal.length    float64
petal.width     float64
variety          object
dtype: object
Dummary Stats:
<bound method NDFrame.describe of      sepal.length  sepal.width  petal.length  petal.width    variety
0             5.1          3.5           1.4          0.2     Setosa
1             4.9          3.0           1.4          0.2     Setosa
2             4.7          3.2           1.3          0.2     Setosa
3             4.6          3.1           1.5          0.2     Setosa
4             5.0          3.6           1.4          0.2     Setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

[150 rows x 5 columns]>
Missing values:
sepal.length    0
sepal.width     0
petal.length    0
petal.width     0
variety         0
dtype: int64

##seprate Features and Lables

In [41]:
feature_cols=['sepal.length', 'sepal.width', 'petal.length', 'petal.width']
X=df[feature_cols]
y=df['variety']

print('Features Shape:',X.shape)
print('Labels', y.shape)
X.head

Features Shape: (150, 4)
Labels (150,)

<bound method NDFrame.head of      sepal.length  sepal.width  petal.length  petal.width
0             5.1          3.5           1.4          0.2
1             4.9          3.0           1.4          0.2
2             4.7          3.2           1.3          0.2
3             4.6          3.1           1.5          0.2
4             5.0          3.6           1.4          0.2
..            ...          ...           ...          ...
145           6.7          3.0           5.2          2.3
146           6.3          2.5           5.0          1.9
147           6.5          3.0           5.2          2.0
148           6.2          3.4           5.4          2.3
149           5.9          3.0           5.1          1.8

[150 rows x 4 columns]>

Standardize

In [42]:
Features_mean=np.mean(X,axis=0)
MeanCenterdData=X-Features_mean
STDeviation=np.std(MeanCenterdData,axis=0,ddof=1)
X_std=MeanCenterdData/STDeviation
print(Features_mean,MeanCenterdData,STDeviation)
X_std.head()

sepal.length    5.843333
sepal.width     3.057333
petal.length    3.758000
petal.width     1.199333
dtype: float64      sepal.length  sepal.width  petal.length  petal.width
0       -0.743333     0.442667        -2.358    -0.999333
1       -0.943333    -0.057333        -2.358    -0.999333
2       -1.143333     0.142667        -2.458    -0.999333
3       -1.243333     0.042667        -2.258    -0.999333
4       -0.843333     0.542667        -2.358    -0.999333
..            ...          ...           ...          ...
145      0.856667    -0.057333         1.442     1.100667
146      0.456667    -0.557333         1.242     0.700667
147      0.656667    -0.057333         1.442     0.800667
148      0.356667     0.342667         1.642     1.100667
149      0.056667    -0.057333         1.342     0.600667

[150 rows x 4 columns] sepal.length    0.828066
sepal.width     0.435866
petal.length    1.765298
petal.width     0.762238
dtype: float64

   sepal.length  sepal.width  petal.length  petal.width
0     -0.897674     1.015602     -1.335752    -1.311052
1     -1.139200    -0.131539     -1.335752    -1.311052
2     -1.380727     0.327318     -1.392399    -1.311052
3     -1.501490     0.097889     -1.279104    -1.311052
4     -1.018437     1.245030     -1.335752    -1.311052

In [ ]:
np.mean(X_std,axis=0)
np.std(X_std,axis=0)

sepal.length    1.0
sepal.width     1.0
petal.length    1.0
petal.width     1.0
dtype: float64

In [54]:
X_std.to_csv('../data/processed/iris_clean.csv', index=False)